@import './theme.scss';

.editor {
    height: 100%;
    display: flex;
    flex-direction: row;
    

    .preview {
        width: 50%;
        margin-top: 50px;
        padding-right: 30px;
        padding-left: 20px;
        box-sizing: border-box;
        overflow: scroll;
    }

    .ReactCodeMirror {
        width: 50%;
        margin-top: 50px;
        font-size: 16px;
        line-height: 27px;
        border-right: 2px dashed #c1c1c1;
        padding-right: 20px;
        padding-left: 30px;
        box-sizing: border-box;
        background-color: #f7f7f7;

        .CodeMirror-scroll {
            background-color: #f7f7f7;
        }
    }
}