html, body {
    font-family: -apple-system, "Helvetica Neue", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    height: 100%;
}

#app {
    height: 100%;
}

.layout {
    height: 100%;
    .layout-body {
        width: 100%;
    }   
}